<h1 class="text-center mb-4">Flagged Reports</h1>

<%= render '/reports/search_form', report: @report %>

<hr>
<% if @flagged_reports.empty? %>
  <p id="no_reports">No flagged reports.</p>
<% else %>
<table class="mb-3">
    <thead id="<%= @reports_cleared %>">
      <tr>
        <th scope="col" id="date_reported">Date Reported</th>
        <th scope="col">Incident No.</th>
        <th scope="col">User</th>
        <th scope="col">Report Type</th>
        <th scope="col">Description</th>
        <th scope="col">Zip</th>
      </tr>
    </thead>

    <tbody>
      <% @flagged_reports.each do |report| %>
        <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
          <td data-label="Date Reported" class="text-nowrap"><%= report.created_at.to_date %></td>
          <td data-label="Incident No."><%= report.id %></td>
           <td data-label="User">
            <% if report.user.present? %>
              <%= link_to report.user.username, user_path(report.user) %>
            <% else %>
              Anonymous
            <% end %>
          </td>
          <td data-label="Report Type"><%= link_to report.subcategory, report %></td>
          <td data-label="Description"><%= truncate(report.description, length: 40) %></td>
          <td data-label="Zip"><%= report.zip %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
<% end %>
