<p>
  <strong>Name:</strong>
  <%= @subcategory.name %>
</p>

<p>
  <strong>Active:</strong>
  <% if @subcategory.active %>Active<% else %>Inactive<% end %>
</p>

<p>
  <strong>Parent Category:</strong>
  <%= Category.find_by(id: @subcategory.category_id).name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @subcategory.description %>
</p>

<%= button_to 'Edit', edit_subcategory_path(@subcategory), :method => :get, class: "btn btn-primary button-float" %>
<%= button_to 'Back', subcategories_path, :method => :get, class: "btn btn-secondary button-float" %>