<p>
  <strong>Name:</strong>
  <%= @subcategory.name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @subcategory.active %>
</p>

<p>
  <strong>Category:</strong>
  <%= @subcategory.category_id %>
</p>

<%= button_to 'Edit', edit_subcategory_path(@subcategory), :method => :get, class: "btn btn-primary button-float" %>
<%= button_to 'Back', subcategories_path, :method => :get, class: "btn btn-secondary button-float" %>