<%= form_with(model: theme) do |form| %>
  <% if theme.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <p><%= pluralize(theme.errors.count, "error") %> prohibited this theme from being saved:</p>

      <ul>
        <% theme.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div id="error_explanation" class="alert alert-danger">
    <p>Please note:</p>

    <ul>
        <li>you will need to clear cache for any value changes to take effect</li>
        <li>making changes may result in lost css functionality</li>
    </ul>
  </div>

  <div class="field">
    <%= form.label :element, :class => 'form-label required' %>
    <br>
    <%= form.text_field :element %>
  </div>

  <br>

  <div class="field">
    <%= form.label :value, :class => 'form-label required' %>
    <br>
    <%= form.text_field :value %>
  </div>

  <br>
  <span class="actions button-float">
    <%= form.submit 'Update Theme', class: 'btn btn-primary' %>
  </span>
<% end %>
