<p id="notice"><%= notice %></p>

<p>
  <strong>Logo:</strong>
  <%= @theme.logo %>
</p>

<p>
  <strong>Hero:</strong>
  <%= @theme.hero %>
</p>

<p>
  <strong>Font google css:</strong>
  <%= @theme.font_google_css %>
</p>

<p>
  <strong>Font google css url:</strong>
  <%= @theme.font_google_css_url %>
</p>

<p>
  <strong>Font default css:</strong>
  <%= @theme.font_default_css %>
</p>

<p>
  <strong>Color header text:</strong>
  <%= @theme.color_header_text %>
</p>

<p>
  <strong>Color accent:</strong>
  <%= @theme.color_accent %>
</p>

<p>
  <strong>Color text dark:</strong>
  <%= @theme.color_text_dark %>
</p>

<p>
  <strong>Color text light:</strong>
  <%= @theme.color_text_light %>
</p>

<p>
  <strong>Color login bar:</strong>
  <%= @theme.color_login_bar %>
</p>

<p>
  <strong>Color header background:</strong>
  <%= @theme.color_header_background %>
</p>

<p>
  <strong>Color footer background:</strong>
  <%= @theme.color_footer_background %>
</p>

<p>
  <strong>Color button primary:</strong>
  <%= @theme.color_button_primary %>
</p>

<p>
  <strong>Color button secondary:</strong>
  <%= @theme.color_button_secondary %>
</p>

<p>
  <strong>Color button hover:</strong>
  <%= @theme.color_button_hover %>
</p>

<p>
  <strong>Color button text dark:</strong>
  <%= @theme.color_button_text_dark %>
</p>

<p>
  <strong>Color button text light:</strong>
  <%= @theme.color_button_text_light %>
</p>

<p>
  <strong>Color nav link:</strong>
  <%= @theme.color_nav_link %>
</p>

<p>
  <strong>Color nav link hover:</strong>
  <%= @theme.color_nav_link_hover %>
</p>

<p>
  <strong>Color page link:</strong>
  <%= @theme.color_page_link %>
</p>

<p>
  <strong>Color page link active:</strong>
  <%= @theme.color_page_link_active %>
</p>

<p>
  <strong>Color page background:</strong>
  <%= @theme.color_page_background %>
</p>

<p>
  <strong>Color page border:</strong>
  <%= @theme.color_page_border %>
</p>

<p>
  <strong>Color table before:</strong>
  <%= @theme.color_table_before %>
</p>

<p>
  <strong>Color list even:</strong>
  <%= @theme.color_list_even %>
</p>

<p>
  <strong>Color list odd:</strong>
  <%= @theme.color_list_odd %>
</p>

<p>
  <strong>Color container link:</strong>
  <%= @theme.color_container_link %>
</p>

<p>
  <strong>Color container link hover:</strong>
  <%= @theme.color_container_link_hover %>
</p>

<%= link_to 'Edit', edit_theme_path(@theme) %> |
<%= link_to 'Back', themes_path %>
