<p id="notice"><%= notice %></p>

<p>
  <strong>Element:</strong>
  <%= @theme.element %>
</p>

<p>
  <strong>Value:</strong>
  <%= @theme.value %>
</p>

<br>
<%= button_to 'Edit', edit_theme_path(@theme), :method => :get, class: "btn btn-primary button-float" %>
<%= button_to 'Back', themes_path, :method => :get, class: "btn btn-secondary button-float" %>
