<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>First Name:</strong>
  <%= @user.first_name %>
</p>
<p>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</p>
<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>
<p>
  <strong>Address 1:</strong>
  <%= @user.address1 %>
</p>
<p>
  <strong>Address 2:</strong>
  <%= @user.address2 %>
</p>
<p>
  <strong>City:</strong>
  <%= @user.city %>
</p>
<p>
  <strong>State:</strong>
  <%= @user.state %>
</p>
<p>
  <strong>Zip:</strong>
  <%= @user.zip %>
</p>
<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>
<p>
  <strong>Role:</strong>
  <%= @user.role.capitalize %>
</p>
<p>
  <strong>Active:</strong>
  <%= @user.active? ? 'Yes' : 'No' %>
</p>
<br>
<% if @user.role == 'resident' && @user.reports.count > 0  %>
  <%= button_to "View Reports by #{@user.username}", reports_by_user_path, :method => :get, params: { user_id: @user.id }, class: "btn btn-primary button-float" %>
<% end %>
<% if current_user.role == 'admin' %><%= button_to 'Edit', edit_user_path(@user), :method => :get, class: "btn btn-secondary button-float" %><% end %>
<%= button_to 'Back', :back, :method => :get, class: "btn btn-secondary button-float" %>