<h1 class="text-center mb-4">Officials Dashboard</h1>

<%= render '/reports/search_form', report: @report %>

<% if @reports.empty? && (session[:official_search_term].nil? == true || params[:submit] == 'Clear') %>
<% elsif @reports.empty? && session[:official_search_term].nil? == false %>
<hr>
  <p id="no_reports">No reports found.</p>
<% else %>
<hr>
  <table class="mb-3">
    <thead>
      <tr>
        <th scope="col" id="date_reported">Date Reported</th>
          <th scope="col">Incident No.</th>
        <th scope="col">Report Type</th>
        <th scope="col">Status</th>
        <th scope="col">Severity</th>
        <th scope="col">Zip</th>
      </tr>
    </thead>

    <tbody>
      <% if @reports.count> 0 %>
        <% @reports.each do |report| %>
          <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
            <td data-label="Date Reported"><%= report.created_at.to_date %></td>
              <td data-label="Incident Number"><%= report.id %></td>
            <td data-label="Report Type"><%= link_to report.subcategory, report %></td>
            <td data-label="Status"><%= report.status %></td>
            <td data-label="Severity"><%= report.severity %></td>
            <td data-label="Zip"><%= report.zip %></td>
          </tr>
        <% end %>
        <% else %>
          <tr>
            <td colspan="5" class="py-3">No reports submitted.</td>
          </tr>
        <% end %>
    </tbody>
  </table>
  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
<% end %>
