<h1 class="text-center mb-4">Officials Dashboard</h1>

<div class="search-container">
  <span class="search-select">
    <select name="search" class="form-select">
        <option value="status" <%= @selected_status %>>Status</option>
        <option value="severity" <%= @selected_severity %>>Severity</option>
        <option value="address" <%= @selected_address %>>Address</option>
        <option value="city" <%= @selected_city %>>City</option>
        <option value="state" <%= @selected_state %>>State</option>
        <option value="zip" <%= @selected_zip %>>Zip</option>
        <option value="description" <%= @selected_description %>>Description</option>
    </select>
  </span>
  <span class="status box search-form">
    <form action="/official-search">
      <span class="search-textbox"><input class="form-control" type="text" id="status" name="status" placeholder="" pattern="^[^\s].*$" title="No leading or only spaces allowed" required="true" value="<%= params[:status] %>"></span>
      <span class="search-button"><button type="submit" class="btn btn-primary">Search</button></span>
    </form>
  </span>
  <span class="severity box search-form">
    <form action="/official-search">
      <span class="search-textbox"><input class="form-control" type="text" id="severity" name="severity" placeholder="" pattern="^[^\s].*$" title="No leading or only spaces allowed" required="true" value="<%= params[:severity] %>"></span>
      <span class="search-button"><button type="submit" class="btn btn-primary">Search</button></span>
    </form>
  </span>
  <span class="address box search-form">
    <form action="/official-search">
      <span class="search-textbox"><input class="form-control" type="text" id="address" name="address" placeholder="" pattern="^[^\s].*$" title="No leading or only spaces allowed" required="true" value="<%= params[:address] %>"></span>
      <span class="search-button"><button type="submit" class="btn btn-primary">Search</button></span>
    </form>
  </span>
  <span class="city box search-form">
    <form action="/official-search">
      <span class="search-textbox"><input class="form-control" type="text" id="city" name="city" placeholder="" pattern="^[^\s].*$" title="No leading or only spaces allowed" required="true" value="<%= params[:city] %>"></span>
      <span class="search-button"><button type="submit" class="btn btn-primary">Search</button></span>
    </form>
  </span>
  <span class="state box search-form">
    <form action="/official-search">
      <span class="search-textbox"><input class="form-control" type="text" id="state" name="state" placeholder="ex. TX" pattern="^[^\s].*$" title="No leading or only spaces allowed" required="true" value="<%= params[:state] %>"></span>
      <span class="search-button"><button type="submit" class="btn btn-primary">Search</button></span>
    </form>
  </span>
  <span class="zip box search-form">
    <form action="/official-search">
      <span class="search-textbox"><input class="form-control" type="text" id="zip" name="zip" placeholder="" pattern="^[^\s].*$" title="No leading or only spaces allowed" required="true" value="<%= params[:zip] %>"></span>
      <span class="search-button"><button type="submit" class="btn btn-primary">Search</button></span>
    </form>
  </span>
  <span class="description box search-form">
    <form action="/official-search">
      <span class="search-textbox"><input class="form-control" type="text" id="description" name="description" placeholder="" pattern="^[^\s].*$" title="No leading or only spaces allowed" required="true" value="<%= params[:description] %>"></span>
      <span class="search-button"><button type="submit" class="btn btn-primary">Search</button></span>
    </form>
  </span>
</div>
<script>
$(document).ready(function(){
    $("select").change(function(){
        $(this).find("option:selected").each(function(){
            var optionValue = $(this).attr("value");
            if(optionValue){
                $(".box").not("." + optionValue).hide();
                $("." + optionValue).show();
            } else{
                $(".box").hide();
            }
        });
    }).change();
});
</script>

<% if @reports.blank? == false %>
<br>
<hr>

  <span class="row justify-content-between">
    <span class="col-lg-12">
      <h2 class="text-center mb-3" id="reports_header">Reports</h2>
        <table class="mb-3">
          <thead>
            <tr>
              <th scope="col">Date Reported</th>
              <% if user_signed_in? %>
                <% if current_user.is_official? || current_user.is_admin? %>
                <th scope="col">Incident No.</th>
                <% end %>
              <% end %>
              <th scope="col">Report Type</th>
              <th scope="col">Status</th>
              <th scope="col">Severity</th>
              <th scope="col">Zip</th>
            </tr>
          </thead>

          <tbody>
            <% if @reports.count> 0 %>
              <% @reports.each do |report| %>
                <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
                  <td data-label="Date Reported"><%= report.created_at.to_date %></td>
                  <% if user_signed_in? %>
                    <% if current_user.is_official? || current_user.is_admin? %>
                    <td data-label="Incident Number"><%= report.id %></td>
                    <% end %>
                  <% end %>
                  <td data-label="Report Type"><%= link_to report.subcategory, report %></td>
                  <td data-label="Status"><%= report.status %></td>
                  <td data-label="Severity"><%= report.severity %></td>
                  <td data-label="Zip"><%= report.zip %></td>
                </tr>
                <% end %>
                <% else %>
                  <tr>
                    <td colspan="5" class="py-3">No reports submitted.</td>
                  </tr>
                <% end %>
          </tbody>
        </table>
        <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
    </span>
  </span>

<% end %>
<% if @reports.blank? == true && @search_made == true %>
<br>
<hr>

<p id="no_reports">No reports found.</p>
<% end %>
