<h1 class="text-center mb-4">Feedback Dashboard</h1>

<%= render '/shared/search_form', feedback: @feedback %>

<hr>
<% if @feedbacks && @feedbacks.count > 0 %>
  <table class="mb-3 data-table">
    <thead>
      <tr>
        <th scope="col" id="date_submitted">Date Submitted</th>
        <th scope="col">Feedback No.</th>
        <th scope="col">User</th>
        <th scope="col">Category</th>
        <th scope="col">Comment</th>
        <th scope="col">Status</th>
      </tr>
    </thead>

    <tbody>
      <% @feedbacks.each do |feedback| %>
        <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
          <td data-label="Date Submitted"><%= feedback.created_at.to_date %></td>
          <td data-label="Feedback No."><%= feedback.id %></td>
          <td data-label="User"><%= feedback.username %></td>
          <td data-label="Category"><%= link_to feedback.category, feedback %></td>
          <td data-label="Comment"><%= truncate(feedback.comment, length: 40) %></td>
          <td data-label="Status"><%= feedback.status %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
<% elsif @invalid_date %>
  <p class="text-danger text-center fst-italic info-message">Please enter a valid start and end date.</p>
<% else %>
  <p class="text-center fst-italic info-message">No feedback found.</p>
<% end %>
