<script type="text/javascript">
  $(document).ready(function() {
    $('input[type="radio"]').change(function() {
      var inputValue = $(this).attr("value");
      var targetBox = $("." + inputValue);
      $(".search").not(targetBox).hide();
      $(targetBox).show();
    });
  });
</script>

<script>
  $( function() {
    $( "#resident-start-date" ).datepicker();
    $( "#resident-end-date" ).datepicker();

    $( "#official-start-date" ).datepicker();
    $( "#official-end-date" ).datepicker();

    $( "#admin-flagged-start-date" ).datepicker();
    $( "#admin-flagged-end-date" ).datepicker();

    $( "#admin-deactivated-start-date" ).datepicker();
    $( "#admin-deactivated-end-date" ).datepicker();
  });

  $(document).ready(function(){

    $("#resident-select").on("change", function () {
      $("#resident-search-text").attr("value", "");
        if ($("#resident-select").val() == "State") {
          $("#resident-search-text").attr("placeholder", "ex. TX");
        } else {
          $("#resident-search-text").attr("placeholder", "");
        }
    });

    $("#official-select").on("change", function () {
      $("#official-search-text").attr("value", "");
      if($(this).val() == "State") {
        $("#official-search-text").attr("placeholder", "ex. TX");
      } else {
        $("#official-search-text").attr("placeholder", "");
      }
    });

    $("#admin-deactivated-select").on("change", function () {
      $("#admin-deactivated-search-text").attr("value", "");
      if($(this).val() == "State") {
        $("#admin-deactivated-search-text").attr("placeholder", "ex. TX");
      } else {
        $("#admin-deactivated-search-text").attr("placeholder", "");
      }
    });

    $("#admin-flagged-select").on("change", function () {
      $("#admin-flagged-search-text").attr("value", "");
      if($(this).val() == "State") {
        $("#admin-flagged-search-text").attr("placeholder", "ex. TX");
      } else {
        $("#admin-flagged-search-text").attr("placeholder", "");
      }
    });
  });
</script>

<div class="d-md-flex justify-content-center mb-2">
  <span>Search by:</span>&nbsp;&nbsp;
  <label class="search_radio_label"><input type="radio" name="search_radio" id="radio_attribute" value="Attribute" <%= @radio_checked_attribute %>>&nbsp;&nbsp;Attribute</label>&nbsp;&nbsp;
  <label class="search_radio_label"><input type="radio" name="search_radio" id="radio_dates" value="Dates" <%= @radio_checked_dates %>>&nbsp;&nbsp;Dates</label>
</div>


<%= form_tag(@search_submit_path, method: :get, class: "Attribute search mx-auto", id: "search-type", style: @display_form_attribute) do %>
  <div class="d-md-flex justify-content-center mb-4">
    <div class="m-2">
      <% if current_page?('/flagged-reports') %>
        <%= select_tag :admin_flagged_search_type, options_for_select(["Incident No.", "Category", "Address", "City", "State", "Zip", "Description"], @admin_flagged_search_type), class: "form-select", id: 'admin-flagged-select' %>

      <% elsif current_page?('/deactivated-reports') %>
        <%= select_tag :admin_deactivated_search_type, options_for_select(["Incident No.", "Category", "Address", "City", "State", "Zip", "Description"], @admin_deactivated_search_type), class: "form-select", id: 'admin-deactivated-select' %>

      <% elsif current_page?('/official') || current_page?('/official-search') %>
        <%= select_tag :official_search_type, options_for_select(["Incident No.", "Status", "Severity", "Category", "Address", "City", "State", "Zip", "Description"], @official_search_type), class: "form-select", id: 'official-select' %>

      <% else %>
        <%= select_tag :resident_search_type, options_for_select(["Incident No.", "Category", "Address", "City", "State", "Zip", "Description"], @resident_search_type), class: "form-select", id: 'resident-select' %>
      <% end %>
    </div>
    <div class="m-2" id="text-field-div">
      <% if current_page?('/flagged-reports') %>
        <%= text_field_tag :admin_flagged_search_term, @admin_flagged_search_term, id: 'admin-flagged-search-text', class: "form-control", size: 50, placeholder: '', pattern: '^[^\s].*$', title: 'No leading or only spaces allowed', required: true %>

      <% elsif current_page?('/deactivated-reports') %>
        <%= text_field_tag :admin_deactivated_search_term, @admin_deactivated_search_term, id: 'admin-deactivated-search-text', class: "form-control", size: 50, placeholder: '', pattern: '^[^\s].*$', title: 'No leading or only spaces allowed', required: true %>

      <% elsif current_page?('/official') || current_page?('/official-search') %>
        <%= text_field_tag :official_search_term, @official_search_term, id: 'official-search-text', class: "form-control", size: 50, placeholder: '', pattern: '^[^\s].*$', title: 'No leading or only spaces allowed', required: true %>

      <% else %>
        <%= text_field_tag :resident_search_term, @resident_search_term, id: 'resident-search-text', class: "form-control", size: 50, placeholder: '', pattern: '^[^\s].*$', title: 'No leading or only spaces allowed', required: true %>
      <% end %>
    </div>
    <div class="m-2">
      <%= submit_tag("Search Attribute", :id=>"search-attribute-button", :class=>"btn btn-primary") %>
    </div>
    <div class="m-2">
      <%= submit_tag("Clear Attribute", :id=>"clear-attribute-button", :disabled=>(@reports_cleared == true), :class=>"btn btn-primary") %>
    </div>
  </div>
<% end %>

<%= form_tag(@search_submit_path, method: :get, class: "Dates search mx-auto", id: "search-dates", style: @display_form_dates) do %>
  <div class="d-md-flex justify-content-center mb-4">

    <% if current_page?('/flagged-reports') %>
    <div class="m-2" id="admin-flagged-start-div">
      <%= text_field_tag :admin_flagged_start_date, @admin_flagged_start_date, placeholder: "Enter Start Date", id: 'admin-flagged-start-date', :class => "form-control datepicker", required: true %>
    </div>
    <div class="m-2" id="admin-flagged-end-div">
        <%= text_field_tag :admin_flagged_end_date, @admin_flagged_end_date, placeholder: "Enter End Date", id: 'admin-flagged-end-date', :class => "form-control datepicker", required: true %>
    </div>

    <% elsif current_page?('/deactivated-reports') %>
    <div class="m-2" id="admin-deactivated-start-div">
      <%= text_field_tag :admin_deactivated_start_date, @admin_deactivated_start_date, placeholder: "Enter Start Date", id: 'admin-deactivated-start-date', :class => "form-control datepicker", required: true %>
    </div>
    <div class="m-2" id="admin-deactivated-end-div">
        <%= text_field_tag :admin_deactivated_end_date, @admin_deactivated_end_date, placeholder: "Enter End Date", id: 'admin-deactivated-end-date', :class => "form-control datepicker", required: true %>
    </div>


    <% elsif current_page?('/official') || current_page?('/official-search') %>
    <div class="m-2" id="official-start-div">
      <%= text_field_tag :official_start_date, @official_start_date, placeholder: "Enter Start Date", id: 'official-start-date', :class => "form-control datepicker", required: true %>
    </div>
    <div class="m-2" id="official-end-div">
        <%= text_field_tag :official_end_date, @official_end_date, placeholder: "Enter End Date", id: 'official-end-date', :class => "form-control datepicker", required: true %>
    </div>

    <% else %>
    <div class="m-2" id="resident-start-div">
      <%= text_field_tag :resident_start_date, @resident_start_date, placeholder: "Enter Start Date", id: 'resident-start-date', :class => "form-control datepicker", required: true %>
    </div>
    <div class="m-2" id="resident-end-div">
        <%= text_field_tag :resident_end_date, @resident_end_date, placeholder: "Enter End Date", id: 'resident-end-date', :class => "form-control datepicker", required: true %>
    </div>
    <% end %>

    <div class="m-2">
      <%= submit_tag("Search Dates", :id=>"search-dates-button", :class=>"btn btn-primary") %>
    </div>
    <div class="m-2">
      <%= submit_tag("Clear Dates", :id=>"clear-dates-button", :disabled=>(@reports_cleared == true), :class=>"btn btn-primary") %>
    </div>
  </div>
<% end %>
