<p>
  <strong>Category:</strong>
  <%= @report.category %> - <%= @report.subcategory %>
</p>

<p>
  <strong>Status:</strong>
  <%= @report.status %>
</p>

<% if current_user.is_official? %>
  <p>
    <strong>Severity:</strong>
    <%= @report.severity %>
  </p>
<% end %>

<% if @report.address1? %>
<p>
  <strong>Address1:</strong>
  <%= @report.address1 %>
</p>
<% end %>

<% if @report.address2? %>
<p>
  <strong>Address2:</strong>
  <%= @report.address2 %>
</p>
<% end %>

<p>
  <strong>City:</strong>
  <%= @report.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @report.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @report.zip %>
</p>

<p>
  <strong>Description:</strong>
  <%= @report.description %>
</p>

<!-- Only display if user is Official/Admin/Or the report writer -->
<% if current_user == @report.user || current_user.is_official? || current_user.is_admin? %>
<br>
<%= button_to 'Edit', edit_report_path(@report), class: "btn btn-primary" %>
<% end %>

<%= link_to 'Back', url_for(:back), class: "d-inline-block my-3" %>
