<script>
  $( document ).ready( function() {
    var errorMessage = "No leading spaces, only spaces or empty values allowed.";

    $( this ).find( "textarea" ).on( "input change propertychange", function() {

      var pattern = $( this ).attr( "pattern" );

      if(typeof pattern !== typeof undefined && pattern !== false) {
        var patternRegex = new RegExp( "^" + pattern.replace(/^\^|\$$/g, '') + "$", "g" );

        hasError = !$( this ).val().match( patternRegex );

        if ( typeof this.setCustomValidity === "function") {
          this.setCustomValidity( hasError ? errorMessage : "" );
        } else {
          $( this ).toggleClass( "error", !!hasError );
          $( this ).toggleClass( "ok", !hasError );

          if ( hasError ) {
            $( this ).attr( "title", errorMessage );
          } else {
            $( this ).removeAttr( "title" );
          }
        }
      }

    });
  });
</script>


<% if user_signed_in? %>
  <% if current_user.is_official? || current_user.is_admin? %>
    <p>
      <strong id="incident_number">Incident Number:</strong>
      <%= @report.id %>
    </p>
  <% end %>
<% end %>

<p>
  <strong>Category:</strong>
  <%= @report.category %> - <%= @report.subcategory %>
</p>

<p>
  <strong>Status:</strong>
  <%= @report.status %>
</p>

<% if user_signed_in? %>
  <% if current_user.is_official? || current_user.is_admin? %>
    <p>
      <strong>Severity:</strong>
      <%= @report.severity %>
    </p>
  <% end %>
<% end %>

<% if @report.address1? %>
<p>
  <strong>Address1:</strong>
  <%= @report.address1 %>
</p>
<% end %>

<% if @report.address2? %>
<p>
  <strong>Address2:</strong>
  <%= @report.address2 %>
</p>
<% end %>

<p>
  <strong>City:</strong>
  <%= @report.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @report.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @report.zip %>
</p>

<div>
  <% if @report.address1.present? %>
    <%= image_tag @report.google_map, class: 'img-fluid mb-4' %>
  <% end %>
</div>

<p>
  <strong>Description:</strong>
  <%= @report.description %>
</p>

<% if user_signed_in? && (current_user.role == 'admin' || current_user.role == 'official') %>
  <p>
    <strong>Reported By:</strong>
      <!-- Show linked username or Anonymous for Admin & Official users -->
      <% if current_user.role == 'admin' || current_user.role == 'official' %>
        <% if @report.user %>
          <%= link_to @report.user.username, user_path(@report.user) %>
        <% else  %>
          Anonymous
        <% end %>
      <% end %>
  </p>
<% end %>

<div>
  <% if @report.image.attached? %>
  <p>
    <strong>Image:</strong>
  </p>
  <%= image_tag @report.image, class: 'img-fluid mb-4' %>
  <% end %>
</div>

<% if user_signed_in? && current_user.is_admin? %>
  <p>
    <strong>Active Status:</strong>
    <% if @report.active_status != "active" %>
      Deactivated -
    <% end %>
    <%= @report.active_status.humanize.titleize %>
  </p>
<% end %>

<br>

<!-- Only display if user is Official/Admin/Or the report writer -->
<% if user_signed_in? %>
  <% if (@report.user.present? && current_user == @report.user && @report.status == "New") || current_user.is_official? || current_user.is_admin? %>
    <%= button_to 'Edit', edit_report_path(@report), class: "btn btn-primary button-float" %>
  <% end %>
<% end %>

<!-- Only display if user is the report writer -->
<% if user_signed_in? %>
  <% if (current_user == @report.user && @report.status == "New") %>
  <%= button_to 'Delete', @report, method: :delete, class: "btn btn-primary button-float", data: { confirm: 'Are you sure you want to delete this report?' } %>
  <% end %>
<% end %>

<%= button_to 'Back', url_for(:back), :method => :get, class: "btn btn-secondary button-float" %>

<!-- Only display if user is Official/Admin -->
<% if user_signed_in? %>
  <% if current_user.is_official? || current_user.is_admin? %>

    <br><br><br>
    <%= form_tag('/submit_comment', method: :get) do %>
      <div class="field mb-3">
        <%= text_area_tag :comment, @comment, id: 'comment-text', class: "form-control", :maxlength => 200, :size => 200, placeholder: 'Comment', required: true, pattern: '^[^\s].*$' %>
      </div>

      <%= hidden_field_tag :user_id, current_user.id %>
      <%= hidden_field_tag :report_id, @report.id %>

      <span class="actions button-float">
        <%= submit_tag "Submit Comment", class: "btn btn-primary" %>
      </span>
    <% end %>

    <br><br>
    <% if @report_comments.blank? == false %>

    <hr>
    <table class="mb-3">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Username</th>
        <th scope="col">Comment</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @report_comments.each do |report_comment| %>
        <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
          <td id="comment_date" data-label="Date"><%= report_comment.created_at.strftime("%m-%d-%Y") %></td>
          <td id="comment_username" data-label="Username"><%= report_comment.username %></td>
          <td id="report_comment" data-label="Comment"><%= report_comment.comment %></td>

          <% if (current_user.is_official? && current_user.id == report_comment.user_id) || current_user.is_admin? %>
            <td><%= link_to 'Edit', edit_comment_path(report_comment) %></td>
            <td><%= link_to 'Delete', report_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% else %>
            <td colspan="2"></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
    </table>
    <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
    <% end %>
  <% end %>
<% end %>
