<% if user_signed_in? %>
  <% if current_user.is_official? || current_user.is_admin? %>
  <p>
    <strong id="incident_number">Incident Number:</strong>
    <%= @report.id %>
  </p>
  <% end %>
<% end %>

<p>
  <strong>Category:</strong>
  <%= @report.category %> - <%= @report.subcategory %>
</p>

<p>
  <strong>Status:</strong>
  <%= @report.status %>
</p>

<% if user_signed_in? %>
  <% if current_user.is_official? || current_user.is_admin? %>
    <p>
      <strong>Severity:</strong>
      <%= @report.severity %>
    </p>
  <% end %>
<% end %>

<% if @report.address1? %>
<p>
  <strong>Address1:</strong>
  <%= @report.address1 %>
</p>
<% end %>

<% if @report.address2? %>
<p>
  <strong>Address2:</strong>
  <%= @report.address2 %>
</p>
<% end %>

<p>
  <strong>City:</strong>
  <%= @report.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @report.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @report.zip %>
</p>

<p>
  <strong>Description:</strong>
  <%= @report.description %>
</p>

<div>
  <% if @report.image.attached? %>
  <p>
    <strong>Image:</strong>
  </p>
  <%= image_tag @report.image, class: 'img-fluid mb-4' %>
  <% end %>
</div>

<% if user_signed_in? && current_user.is_admin? %>
  <p>
    <strong>Active Status:</strong>
    <% if @report.active_status != "active" %>
      Deactivated - 
    <% end %>
    <%= @report.active_status.humanize.titleize %>
  </p>
<% end %>

<br>

<!-- Only display if user is Official/Admin/Or the report writer -->
<% if user_signed_in? %>
  <% if (current_user == @report.user && @report.status == "New") || current_user.is_official? || current_user.is_admin? %>
    <%= button_to 'Edit', edit_report_path(@report), class: "btn btn-primary button-float" %>
  <% end %>
<% end %>

<!-- Only display if user is the report writer -->
<% if user_signed_in? %>
  <% if (current_user == @report.user && @report.status == "New") %>
  <%= button_to 'Delete', @report, method: :delete, class: "btn btn-primary button-float", data: { confirm: 'Are you sure you want to delete this report?' } %>
  <% end %>
<% end %>

<%= button_to 'Back', url_for(:back), :method => :get, class: "btn btn-primary button-float" %>
