<p>
  <strong>Category:</strong>
  <%= @report.category %> - <%= @report.subcategory %>
</p>

<p>
  <strong>Status:</strong>
  <%= @report.status %>
</p>

<% if @report.address1? %>
<p>
  <strong>Address1:</strong>
  <%= @report.address1 %>
</p>
<% end %>

<% if @report.address2? %>
<p>
  <strong>Address2:</strong>
  <%= @report.address2 %>
</p>
<% end %>

<p>
  <strong>City:</strong>
  <%= @report.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @report.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @report.zip %>
</p>

<p>
  <strong>Description:</strong>
  <%= @report.description %>
</p>

<!-- Only display if report created by current user and status is new -->
<% if current_user == @report.user && @report.status == 'New' %>
<%= link_to 'Edit', edit_report_path(@report), class: "d-inline-block my-3" %> |
<% end %>

<% if user_signed_in? %>
<%= link_to 'Resident Dashboard', resident_path, class: "d-inline-block my-3" %> |
<% end %>

<%= link_to 'Home', reports_path, class: "d-inline-block my-3" %>
