<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
       <!-- Show these links to everyone -->
        <li class="nav-item">
          <%=link_to "Home", root_path, :class=>"nav-link" %>
        </li>
        <li class="nav-item">
          <%=link_to "Reports", reports_path, :class=>"nav-link" %>
        </li>
        <!-- Show these links if the user is signed in AND user is official or admin -->
        <% if user_signed_in? %>
          <% if current_user.is_official? || current_user.is_admin? %>
            <li class="nav-item">
              <%=link_to "Officials Dashboard", official_path, :class=>"nav-link" %>
            </li>
          <% end %>
        <% end %>
        <!-- Show these links if the user is signed in AND user is resident -->
        <% if user_signed_in? && current_user.is_resident? %>
        <li class="nav-item"><%=link_to "Resident Dashboard", resident_path , :class=>"nav-link" %></li>
        <% end %>
        <!-- Show these links if user is signed in -->
        <% if user_signed_in? %>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              My Account
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><%=link_to "Edit My Account", edit_user_registration_path , :class=>"dropdown-item" %></li>
            </ul>
          </li>
          <!-- Show these links if user is signed in AND user is admin-->
          <% if current_user.is_admin? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Admin
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><%=link_to "Manage Users",  users_path, :class=>"dropdown-item" %></li>
                <li><%=link_to "Add User",  new_user_path, :class=>"dropdown-item" %></li>
            </ul>
          </li>
          <% end %>
          <li class="nav-item">
          <%=link_to "Log Out", destroy_user_session_path, :method => 'delete', :class=>"nav-link" %>
        </li>
        <% else %>
        <!-- Show these links to unauthenticated users only -->
        <li class="nav-item">
          <%=link_to "Log In", new_user_session_path, :class=>"nav-link" %>
        </li>
        <li class="nav-item">
          <%=link_to "Sign Up", new_user_registration_path, :class=>"nav-link" %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
