<!DOCTYPE html>
<html>
  <head>
    <title>ReportIt</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'theme1', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% if current_page?('/') %>
      <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% end %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <%= render "layouts/navbar" %>
    <header class='main'>
      <a href="<%= root_path %>"><%= image_tag 'report-it-logo.png', :class => "logo" %></a>
    </header>
    <% if user_signed_in? %>
      <div class="logged_in_as">
      Welcome:
        <% if current_user.is_official? || current_user.is_admin? %>
        <strong><%= current_user.role %></strong> |
        <% end %>
        <%= current_user.email %>
      </div>
    <% end %>
    <main class="main-container">
      <div class="content-container">
        <% if notice %>
          <p class="notice alert alert-info mt-4"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger mt-4"><%= alert %></p>
        <% end %>
        <%= yield %>
      </div>
    </main>
    <footer class="text-center mt-auto">
      <!-- Copyright -->
      <div class="text-center p-3">
        <p class="copyright">Copyright &copy;<span id="year"><%= Date.today.year %></span> Report-It. All Rights Reserved.</p>
      </div>
      <!-- Copyright -->
    </footer>
  </body>
</html>
