<!DOCTYPE html>
<html>
  <head>
    <title>ReportIt</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <header class='main'>
      <%= image_tag 'report-it-logo.png', :class => "logo" %>
    </header>
    <main class="main-container">
      <%= yield %>
    </main>
    <div id="footer">
      <p class="copyright">Copyright &copy;<span id="year"><%= Date.today.year %></span> Report-It. All Rights Reserved.</p>
    </div>
  </body>
</html>
